<link rel='stylesheet' href='/stylesheets/navbar.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="navbar">

    <div class="navbar-left">
        <h1 class="title">{{title}}</h1>
    </div>
    <div class="navbar-right">
        <button type="submit" id="toggleUploadModalButton" class="upload">Share</button>
        <div class="dropdown">
            <button class="logout">User</button>
            <div class="dropdown-content">
                <form action="/settings" method="GET">
                    <button class="logout">Settings</button>
                </form>
                <form action="/logout" method="post">
                    <button type="submit" name="logout" value="Logout" class="logout">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<strong class="feed-title">
    Feed
</strong>
<div id="shared-feed">
    <ul id="shared-feed-musiclist">
    {{#each .}}
        {{#each musicList}}
        <div class="music-box" onclick="openModalMusic({{musicListJSON}})">
            <strong> {{name}} </strong>
            <div class="music-details">
                <p>{{duration}} min</p>
                <p class="username">Posted by: {{username}}</p>
            </div>
        </div>
        {{/each}}
    {{/each}}
    </ul>
</div>

<div id="myModal" class="modal-content" style="display: none">
    <div class="modal-header">
        <div style="display: flex; justify-content: space-between">
            <h2>Share Music</h2>
            <span class="close">X</span>
        </div>
    </div>
    <div class="modal-body">
        <p class="subtitle">Let your friends know what you are listening to!</p>
            <form action="/upload" method="POST">
                <input type="text" placeholder="Music Name" name="musicname" id="musicname" required>
                <br><br>
                <input type="number" step="0.01" placeholder="Duration" name="musicduration" id="musicduration"  lang="en" >
                <br><br>
                <button type="submit" name="upload" value="Upload" class="upload" id="upload">Upload</input>
            </form>
    </div>
</div>



{{!-- SCRIPT TO OPEN SHARE MODAL --}}
<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("toggleUploadModalButton");    
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";        
    }


    function openModalMusic(music){
        console.log(music);
        alert(music);
    }


</script>

<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect('http://localhost:3000/');
    $("#upload").click(function () {
        console.log(socket);            
        console.log(io);
        socket.emit('add_music', {name: $("#musicname").val(), duration: $('#musicduration').val()} );
    });

    // REFRESH FEED WHEN NEW DATA IS INSERTED
    socket.on('refresh_feed', function (music) {
        console.log("MUSIC -> " + music);
        var htmlMusicData = '<strong>'+music.name+'</strong>';
        htmlMusicData += '<p>'+music.duration+' min</p>';
        $("#shared-feed-musiclist").append($('<div class="music-box">').html(htmlMusicData));
    });      

</script>